.footer {
    padding: 2rem;
    background-color: $main-blue-color;
    color: #fff;
    text-align: center;

    &__text {
        font-weight: 200;
        display: block;
        margin-bottom: 1.5rem;
        @mixin atSmall {
            display: inline-block;
            margin-right: 1.5rem;
            margin-bottom: 0;
            font-weight: 200;
        }
    }
}
