
*,
*::after,
*::before {

    /* make css reset*/
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /* width: 120rem; */
    /*to prevent adding border and margin to the total width*/
}
html {

    box-sizing: border-box;
    font-size: 62.5%;
}

body {

    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.3;
    color: #333;


}

.container {
    width: 100%;
    position: relative;
}

img {
    max-width: 100%;
    /* height: auto; */
}
