
*,
*::after,
*::before {
    /* make css reset*/
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /*to prevent adding border and margin to the total width*/
}
html {
  font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    /* height: auto; */
}
