
.primary-nav {
    display: none;
    @mixin atSmall {
        display: inline-block;
    }
    &__float-right {
        /* float: right; */
    }

    li {
        font-size: 1.4rem;
        list-style: none;
        display: inline-block;
        margin-right: 2rem;
    }
    a {
        color: #fff;
        text-decoration: none;
    }

}
