.our-section {

    &__title {
        font-size: 4rem;
        font-weight: 300;
        text-align: center;

        @mixin atSmall {
            font-size: 6rem;
            margin: 2rem 0;
        }
    }

    &__blue {
        color: $main-blue-color;
    }

    strong {
            font-weight: 600;
    }

    &__icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.2rem;
        @mixin atSmall{
            position: relative;
            top: 1rem;
            display: inline-block;
            margin-left: 0;
            margin-right: 2rem;
            margin-bottom: 0;
        }
    }
}

/* /////// */
.our-features {

    &__item {

        position: relative;

        @mixin atSmall {
            padding-left: 6rem;
            margin-top: 7rem;
            margin-bottom: 4rem;
        }
        &--icon {
            display: block;
            margin: 0 auto;
            width: 6rem;
            height: 5.5rem;
            @mixin atSmall{
                display: inline-block;
                margin: 0;
                position: absolute;
                top: 1rem;
                left: 0;
            }
        }

        p {
            width: 75%;
        }

        h3 {
            text-align: center;
            padding-top: 3rem;
            font-size: 2.4rem;
            font-weight: 400;
            @mixin atSmall{
                text-align: left;
            }
        }
    }
}
