.headline {
    font-weight: 300;
    font-size: 3.2rem;
    text-transform: uppercase;
    color: $main-blue-color;

    &--center{
        text-align: center;
    }

    &--orange{
        color: $oran
    }
}
